.create-post-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.create-post {
  background: #fff;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  max-height: 80%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Added for positioning the close button */
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  position: relative;
}

.close-btn {
  background: rgb(223, 20, 20);
  border: none;
  font-size: 12px;
  padding: 10px;
  font-weight: bold;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
  position: absolute;
  right: -4px;
  top: -10px;
  border-radius: 50%;
}

.content {
  margin-top: 20px;
}

.icon-container {
  font-size: 50px;
  margin-bottom: 10px;
}

.select-btn {
  background-color: #0095f6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.select-btn:hover {
  background-color: #007ac1;
}

.image-preview {
  margin-top: 20px;
  text-align: center;
}

.image-preview img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 8px;
  object-fit: contain;
}

.upload-button {
  background-color: #0095f6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}