.search-people-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .search-people {
    background: #fff;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    max-height: 80%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    width: 100%;
  }
  
  /* .close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ff0000;
  } */
  
  .content {
    margin-top: 20px;
    width: 100%;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .search-results {
    text-align: left;
    width: 100%;
  }
  
  .search-results p {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .search-results p:hover {
    background-color: #f1f1f1;
  }
  
  .no-results {
    text-align: center;
    color: #888;
  }
  
  .loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  